@font-face {
  font-family: "Barclays";
  src: local("TrickstBarclayser"),
    url("./../font/FontsFree-Net-Barclays-Premier-League.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #3d195b;
  font-family: "Barclays";
  filter: drop-shadow(3px 3px 1px #ffffff33);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

h1 {
  margin-bottom: 0.5rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e90052;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.main #logo {
  width: 300px;
  margin: 1rem;
}
